body{
    margin: 0;
    font-family: sans-serif;
}

.header{
    background-color: #151a1f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;

}

.header-list{
    display: flex;
    list-style: none;
    margin-right: 40px;

}
.header-list li{
    margin-inline: 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.filter-block{
    position: absolute;
}

.filter-block ul {
    list-style: none;
}


